* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #8cbdc8;
  background-image: url("../img/southpark.jpg");
  background-size: cover;
}

h1 {
  margin-bottom: 35px;
  padding: 10px 15px;
  border-radius: 10px;
  color: #0066c0;
  background-color: azure;
}

.container {
  max-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dots {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 250px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.dot:hover {
  background-color: #0066c0;
}

.dot.dot-active {
  background-color: #0066c0;
}

.container i {
  font-size: 70px;
  cursor: pointer;
  color: rgba(0, 0, 0, .9);
  margin: 0 10px 0;
}

.container i:hover {
  color: #0066c0;
}

.img {
  display: none; /* Visibile con jQuery */
  max-width: 1000px;
  border-radius: 50px;
}

.img.active {
  display: block;
}
